@model TaskViewModel

@{
    ViewBag.Title = "Update Task";
}


<h2>Update Task</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="ProfileId" />
    <div class="form-group">
        <label asp-for="TaskName" class="control-label"></label>
        <input asp-for="TaskName" class="form-control" />
        <span asp-validation-for="TaskName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaskDescription" class="control-label"></label>
        <input asp-for="TaskDescription" class="form-control" />
        <span asp-validation-for="TaskDescription" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="StartTime" class="control-label"></label>
        <input asp-for="StartTime" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
       @*  <input asp-for="Status" class="form-control" /> *@
        <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<TasksStatus>()"></select>
        <span asp-validation-for="Status" class="text-danger"></span>

    </div>


    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Details" asp-route-ProfileId="@Model.ProfileId" asp-controller="Profile" class="btn btn-secondary">Back</a>
    </div>
</form>

